img[src$="photo1.jpg"] {
    display: block;
    margin: 20px auto;
    border: solid 2px gray;
    box-shadow: 20px 10px 1px red;
    border-radius: 20%;
    clip-path: circle(100%);
}

img[src$="photo2.jpg"] {
    display: block;
    margin: 20px auto;
    border: solid 2px gray;
    box-shadow: 20px 10px 1px yellow;
    border-radius: 70%;
    clip-path: circle(100%);
}

img[src$="photo3.jpg"] {
    display: block;
    margin: 20px auto;
    border: solid 2px gray;
    box-shadow: 20px 10px 1px blue;
    border-radius: 5%;
    clip-path: circle(100%);
}